[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 7rem;
}

a {
    color: inherit;
}

.seeker-input {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    width: 15rem;
    height: 2.2rem;
    padding-left: 10px;
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
}

.seeker-input:focus {
    outline: none;
    border: none;
    color: gray;
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
}

.seeker-white {
    background-color: rgba(255,255,255, 0.1);
}

.seeker-white:focus {
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.weather-image { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.row {
    padding-top: 14%;
}

.yellow {
    color: yellow;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.seeker {
    margin: 0.7rem 0.7rem;
    text-align: right;
}

.country {
    font-size: 3rem;
}

.weather {
    font-size: 7.5rem;
}

.description {
    font-size: 2rem;
}

.vertical {
    border: 3px solid black;
    height: 250px;
    width: 0;
}

.main-weather-content {
    text-align: center;
    padding-left: 7rem;
}

.conditions {
    font-size: 2rem;
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0.2rem 0.2rem 0.2rem;
}

@media (max-width: 1024px) {
    .main-weather-content {
        text-align: center;
        padding-left: 15px;
    }
    
    .conditions {
        font-size: 2rem;
        text-align: left;
        padding-top: 1.5rem;
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .vertical {
        border: 3px solid black;
        height: 0;
        width: 250px;
        margin: 2rem auto 2rem;
    }

    .conditions {
        font-size: 2rem;
        text-align: center;
        padding-top: 0;
        padding-left: 15px;
    }

}

.clear {
    background-image: url("../images/weather/clear\ sky\ day\ landscape.jpg");
}

.clear-night {
    background-image: url("../images/weather/clear\ sky\ night\ landscape.jpg");
}

.thunderstorm {
    background-image: url("../images/weather/thunderstorm\ landscape.jpg");
}

.rain {
    background-image: url("../images/weather/rain\ day\ landscape.jpg");
}

.drizzle {    
    background-image: url("../images/weather/drizzle\ night\ ladnscape.jpg");
}

.squall {
    background-image: url("../images/weather/drizzle\ day\ landscape.jpg");
}

.squall-night {
    background-image: url("../images/weather/drizzle\ night\ ladnscape.jpg");
}

.snow {
    background-image: url("../images/weather/snow\ day\ landscape.jpg");
}

.snow-night {
    background-image: url("../images/weather/snow\ night\ landscape.jpg");
}

.mist {
    background-image: url("../images/weather/mist\ day\ landscape.jpg");
}

.smoke {
    background-image: url("../images/weather/smoke\ landscape.jpg");
}

.haze {
    background-image: url("../images/weather/haze\ landscape.jpg");
}

.dust {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.fog {
    background-image: url("../images/weather/fog\ landscape.jpg");
}

.sand {
    background-image: url("../images/weather/sand\ landscape.jpg");
}

.ash {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.tornado {
    background-image: url("../images/weather/tornado\ landscape.jpg");
}

.clouds {
    background-image: url("../images/weather/clouds\ day\ landscape.jpg");
}

.clouds-night {
    background-image: url("../images/weather/clouds\ night\ landscape.jpg");
}