[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 7rem;
}

.seeker-white::-webkit-input-placeholder {
    color:    #E0E0E0;
}
.seeker-white:-moz-placeholder {
   color:    #E0E0E0;
   opacity:  1;
}
.seeker-white::-moz-placeholder {
   color:    #E0E0E0;
   opacity:  1;
}
.seeker-white:-ms-input-placeholder {
   color:    #E0E0E0;
}
.seeker-white::-ms-input-placeholder {
   color:    #E0E0E0;
}

.seeker-white::placeholder { 
   color:    #E0E0E0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    color: inherit;
}

.seeker-input {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    width: 15rem;
    height: 2.2rem;
    padding-left: 10px;
    background-color: rgba(0,0,0, 0.1);
}

.seeker-input:focus {
    outline: none;
    border: none;
    color: black;
    background-color: rgba(0,0,0, 0.1);
}

.seeker-white {
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.seeker-white:focus {
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.weather-image { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.row {
    padding-top: 14%;
}

.seeker {
    margin: 0.7rem 0.7rem;
    text-align: right;
}

.country {
    font-size: 3rem;
}

.weather {
    font-size: 7.5rem;
}

.description {
    font-size: 2rem;
}

.vertical {
    border: 3px solid;
    height: 250px;
    width: 0;
}

.main-weather-content {
    text-align: center;
    padding-left: 7rem;
}

.conditions {
    font-size: 2rem;
    text-align: left;
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.2rem 0.2rem 0.2rem;
}

.clear {
    background-image: url("../images/weather/clear\ sky\ day\ landscape.jpg");
}

.clear-night {
    background-image: url("../images/weather/clear\ sky\ night\ landscape.jpg");
}

.thunderstorm {
    background-image: url("../images/weather/thunderstorm\ landscape.jpg");
}

.thunderstorm-night {
    background-image: url("../images/weather/thunderstorm\ landscape.jpg");
}

.rain {
    background-image: url("../images/weather/rain\ day\ landscape.jpg");
}

.rain-night {
    background-image: url("../images/weather/rain\ day\ landscape.jpg");
}

.drizzle {    
    background-image: url("../images/weather/drizzle\ night\ ladnscape.jpg");
}

.drizzle-night {    
    background-image: url("../images/weather/drizzle\ night\ ladnscape.jpg");
}

.squall {
    background-image: url("../images/weather/drizzle\ day\ landscape.jpg");
}

.squall-night {
    background-image: url("../images/weather/drizzle\ night\ ladnscape.jpg");
}

.snow {
    background-image: url("../images/weather/snow\ day\ landscape.jpg");
}

.snow-night {
    background-image: url("../images/weather/snow\ night\ landscape.jpg");
}

.mist {
    background-image: url("../images/weather/mist\ day\ landscape.jpg");
}

.mist-night {
    background-image: url("../images/weather/mist\ day\ landscape.jpg");
}

.smoke {
    background-image: url("../images/weather/smoke\ landscape.jpg");
}

.smoke-night {
    background-image: url("../images/weather/smoke\ landscape.jpg");
}

.haze {
    background-image: url("../images/weather/haze\ landscape.jpg");
}

.haze-night {
    background-image: url("../images/weather/haze\ landscape.jpg");
}

.dust {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.dust-night {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.fog {
    background-image: url("../images/weather/fog\ landscape.jpg");
}

.fog-night {
    background-image: url("../images/weather/fog\ landscape.jpg");
}

.sand {
    background-image: url("../images/weather/sand\ landscape.jpg");
}

.sand-night {
    background-image: url("../images/weather/sand\ landscape.jpg");
}

.ash {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.ash-night {
    background-image: url("../images/weather/dust\ landscape.jpg");
}

.tornado {
    background-image: url("../images/weather/tornado\ landscape.jpg");
}

.tornado-night {
    background-image: url("../images/weather/tornado\ landscape.jpg");
}

.clouds {
    background-image: url("../images/weather/clouds\ day\ landscape.jpg");
}

.clouds-night {
    background-image: url("../images/weather/clouds\ night\ landscape.jpg");
}

.white {
    color: white;
}

.white-vertical {
    border-color: white;
}

.black-vertical {
    border-color: black;
}

.black {
    color: black;
}

@media (max-width: 1024px) {
    .main-weather-content {
        text-align: center;
        padding-left: 15px;
    }
    
    .conditions {
        font-size: 1.8rem;
        text-align: left;
        padding-top: 1.5rem;
        padding-left: 15px;
    }

    .container-fluid {
        padding-top: 5rem;
    }
}

@media (max-width: 767px) {
    .vertical {
        border: 3px solid;
        height: 0;
        width: 250px;
        margin: 2rem auto 2rem;
    }

    .conditions {
        font-size: 2rem;
        text-align: center;
        padding-top: 0;
        padding-left: 15px;
    }

    .row {
        padding-top: 0;
    }

    .weather-image {
        background-attachment: initial;
    }

    .weather {
        font-size: 6.5rem;
    }

    .country {
        font-size: 2.5rem;
    }

    .footer {
        position: relative;
    }

    .clear {
        background-image: url("../images/weather/clear\ sky\ day.jpg");
    }

    .clear-night {
        background-image: url("../images/weather/clear\ sky\ night.jpg");
    }
    
    .thunderstorm {
        background-image: url("../images/weather/thunderstorm.jpg");
    }

    .thunderstorm-night {
        background-image: url("../images/weather/thunderstorm.jpg");
    }

    .rain {
        background-image: url("../images/weather/drizzle\ day.jpg");
    }

    .rain-night {
        background-image: url("../images/weather/drizzle\ night.jpg");
    }
    
    .drizzle {    
        background-image: url("../images/weather/drizzle\ day.jpg");
    }

    .drizzle-night {    
        background-image: url("../images/weather/drizzle\ night.jpg");
    }
    
    .squall {
        background-image: url("../images/weather/drizzle\ day.jpg");
    }
    
    .squall-night {
        background-image: url("../images/weather/drizzle\ night.jpg");
    }
    
    .snow {
        background-image: url("../images/weather/snow\ day.jpg");
    }
    
    .snow-night {
        background-image: url("../images/weather/snow\ night.jpg");
    }
    
    .mist {
        background-image: url("../images/weather/mist\ day.jpg");
    }

    .mist-night {
        background-image: url("../images/weather/mist\ day.jpg");
    }
    
    .smoke {
        background-image: url("../images/weather/smoke.jpg");
    }

    .smoke-night {
        background-image: url("../images/weather/smoke.jpg");
    }
    
    .haze {
        background-image: url("../images/weather/haze.jpg");
    }

    .haze-night {
        background-image: url("../images/weather/haze.jpg");
    }
    
    .dust {
        background-image: url("../images/weather/dust.jpg");
    }

    .dust-night {
        background-image: url("../images/weather/dust.jpg");
    }
    
    .fog {
        background-image: url("../images/weather/fog.jpg");
    }

    .fog-night {
        background-image: url("../images/weather/fog.jpg");
    }
    
    .sand {
        background-image: url("../images/weather/sand.jpg");
    }

    .sand-night {
        background-image: url("../images/weather/sand.jpg");
    }
    
    .ash {
        background-image: url("../images/weather/dust.jpg");
    }

    .ash-night {
        background-image: url("../images/weather/dust.jpg");
    }
    
    .tornado {
        background-image: url("../images/weather/tornado.jpg");
    }

    .tornado-night {
        background-image: url("../images/weather/tornado.jpg");
    }
    
    .clouds {
        background-image: url("../images/weather/clouds\ day.jpg");
    }
    
    .clouds-night {
        background-image: url("../images/weather/clouds\ night.jpg");
    }
}